<h1>Login</h1>
	<%= form_for(:user, url: sessions_path) do |f| %>
		<div class="field">
			<%= f.label :username %><br/>
			<%= f.text_field :username %>
		</div>
		<p/>
		<div class="field">
			<%= f.label :password %><br/>
			<%= f.password_field :password %>
		</div>
		<p/>
		<div class="actions">
			<%= f.submit "Login" %>
		</div>
	<% end %>