<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @model.Profile %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @model.gender %>
</p>

<p>
  <strong>Birth year:</strong>
  <%= @model.birth_year %>
</p>

<p>
  <strong>First name:</strong>
  <%= @model.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @model.last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @model.user %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
